@using Microsoft.AspNetCore.Mvc.TagHelpers;
@using Core.ViewModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BookEventViewModel>
@{
	// Layout = "master.cshtml";		
	ViewData["Title"] = "Booking";
}


@await Html.PartialAsync("_booking", Model);
<div class="container">


</div>